$navbar-default-bg: rgba(152,249,249,0.7);
$light-green: rgba(152,249,249,0.7);
$navbar-default-color: $light-green;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    margin-top: 0px;
    float: left;
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 4px;
    color: black;
}

.images{
   margin-top: 10px;
}


h1{
    margin-top: 60px;
    height: 40px;
    margin-bottom: 25px;
   -webkit-animation: mymover 5s infinite; /* Chrome, Safari, Opera */
    animation: mymover 5s infinite;
}

h2{
    margin-top: 20px;
}



.nav-tabs{
    float: left;
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 0px;
    color: black;
    
}

body {
    margin-top: 90px;
 
   
   
}



.center{
    text-align: center;
}

.footer{
    margin-top:30px;
    border-top: 1px solid #eaeaea;
    background-color:rgba(152,249,249,0.7);
    height:60px;
}

 
   


/* Chrome, Safari, Opera */
@-webkit-keyframes mymover {
    from {font-size: 0.5em;}
    to {font-size: 1em;}
}

@keyframes mymover {
    from {font-size: 0.5em;}
    to {font-size: 1em;}
}

.underline{
    text-decoration: underline;
    font-size:1.2em;
}
.well{
    
    border: none;
    background: -webkit-linear-gradient (rgba(76,195,232,0.9), rgba(76,195,232,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(76,195,232,0.9), rgba(76,195,232,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(76,195,232,0.9), rgba(76,195,232,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(76,195,232,0.9), rgba(76,195,232,0.1)); /* Standard syntax */
}
    


.chef_info{
    margin-right: 20px;
 
}


input, textarea, select, .uneditable-input{
border: 1px solid black;
border-radius: 6px;
width: 100%;
margin-bottom: 16px;
}

input {
    height: auto;
   
}

span.picture{
    margin-top: 12px;
    input {
        border: 0;
    }
}

.show_recipe{
    margin: 10px 10px 10px 10px;
}
