<Header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
     <div>
       <%= link_to "my Recipes", "", id: "logo" %>
       </div>
      <ul class="nav nav-tabs">
        <li  role:"presentation">
        <%= link_to "link1", ""%></li>
       <li  role:"presentation">
        <%= link_to "link2", ""%></li>
      
     <li  role:"presentation">
        <%= link_to "link3", ""%></li>
     </ul>
    </div>
</Header>